$dark-shades: #476017;
$dark-accent: #877665;
$sandal: #a99969;
$light-accent: #979b81;
$light-shades: #f3f0f0;
$dark: #25122b;
$clover: #445a16;
$asparagus: #68a858;
$fire-bush: #e59820;
$pomegranate: #f44336;
$normal: #999;
$white: #fff;
$black: #191919;

$default: $normal;
$primary: $sandal;
$info: $clover;
$success: $asparagus;
$warning: $fire-bush;
$danger: $pomegranate;
